<html>
<h1> Computer </h1>
<ul>
  <% fruits.forEach(function(fruit){ %>
   <li><%= fruit.title %>
    <img src ="<%= fruit.img %>" style="width: 100px ; height: auto" > 
</li>
   <% }); %>
</ul>
</html>